-
    kintergardenList = [
        {
            img:"img/pages/index/kindergarten/food.svg",
            alt:"#",
            head:"Ми любимо нашу їжу",
            text:"і готуємо її з любовʼю до дітей",
            linkUrl:"#",
            linkText:"подивитися меню"
        },
        {
            img:"img/pages/index/kindergarten/age.svg",
            alt:"#",
            head:"9 років",
            text:"ми працюємо з дітками",
            linkUrl:"#",
            linkText:"#"
        },
        {
            img:"img/pages/index/kindergarten/nanny.svg",
            alt:"#",
            head:"Наші працівники тут", 
            text:"тому-що люблять свою роботу та дітей",
            linkUrl:"#",
            linkText:"#"
        }
    ];
- titleImage = {image:"img/pages/index/kindergarten/kindergarten_Ukraine.png", alt:"kindergarten_Ukraine"}

mixin printKindergartenList(items)
    ul.main__kindergarten_list
        for item in items
            li.main__kindergarten_line       
                img.main__kindergarten_icon(src=item.img, alt=item.alt)
                p.main__kindergarten_text 
                    strong.global__middle_text.main__kindergarten_line_header #{item.head}
                    span.main__kindergarten_text #{item.text}
                    if item.linkText!="#"
                        a(href=item.linkUrl).global__link.main__kindergarten_link #{item.linkText}

.main__kindergarten#kindergarten     
    h2.global__huge_text.main__kindergarten_header дитячий садок
    .positive.main__kindergarten_container.flex
        .main__kindergarten_box.positive_box.milk-background  
            +printKindergartenList(kintergardenList)
        img.main__kindergarten_image.positive_image(src="img/pages/index/kindergarten/kindergarten_Ukraine.png", alt="kindergarten_Ukraine")
