-
    let pedagogue = [
        {
            name: "ірина",
            image: "img/pedagogue/director.png",
            alt: "",
            info:"Керівник. Досвід роботи - 18 років."
        },
        {
            name: "Ірина",
            image: "img/pedagogue/kids-pedagogue.png",
            alt: "",
            info:"Вихователь групи «Маленькі розумники», досвід роботи - 3 роки."
        },
        {
            name: "катерина",
            image: "img/pedagogue/child-pedagogue.png",
            alt: "",
            info:"Вихователь групи «Маленькі дослідники», досвід роботи - 3 роки."
        },
        {
            name: "жанна",
            image: "img/pedagogue/junior-pedagogue.png",
            alt: "",
            info:"Вихователь групи «Маленькі генії», досвід роботи 3 роки."
        }
    ];

.main__pedagogue
    h2.global__huge_text.main__pedagogue_header наша команда
    .main__pedagogue.flex 

        each item , i in pedagogue
            - let classname = ""
            - let btncolor = ""
            case i 
                when 0 
                    #{ classname = "diamond"}
                    #{ btncolor = "green" }                       
 
                when 1
                    #{ classname = "snow"}
                    #{ btncolor = "pink" }

                when 2
                    #{ classname = "circle"}
                    #{ btncolor = "blue" }
                        
                when 3
                    #{ classname = "star"}
                    #{ btncolor = "yellow" }

            div(class="main__pedagogue__card milk-background "+classname) 
                h3(class="main__pedagogue__name global__btn global_smal-btn "+btncolor) #{item.name}
                img(src=item.image alt=item.alt).main__pedagogue_img
                p.main__pedagogue_text #{item.info}
    .main__pedagogue_nav_container.global-nav
        button.global__circle_btn.main__pedagogue_nav__circle_btn--left.arr-left
        .global-dot.main__pedagogue_nav__dot.global-dot--active 
        .global-dot.main__pedagogue_nav__dot 
        .global-dot.main__pedagogue_nav__dot 
        button.global__circle_btn.main__pedagogue_nav__circle_btn--right.arr-right 
               
