mixin printFooter(hasLocation)
    footer.footer 
        if hasLocation
            .footer__location.milk-background.star.snow
                p.global__middle_text.footer__disclaimer Наш садочок забезпечений сучасним укриттям, додатковими джерелами електроенергії (на випадок відключення світла), котельня обладнана генератором для опалювального сезону.
                .footer__location_container.flex
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header наша локація
                        a(href=urlMap).footer__location_strong.marker вул. Вайсера, 4/2  
                        a(href=urlMap).global__link.footer__location_link подивитися мапу 
                            span.footer__location_arrow 
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header Графік роботи
                        strong.footer__location_strong Міні-садок:
                        span 8:00-13:00
                        br
                        strong.footer__location_strong Садок:
                        span 8:00-17:00
                        br
                        strong.footer__location_strong Садок повного дня:
                        span 8:00-19:00
                        br
                        strong.footer__location_strong Центр розвитку дітей:
                        span 16:30 - 19:30
        .footer__contact.milk-background
            .footer__contact_container.flex
                .footer__contact_links 
                    a.icon-link.icon-link--phone(href=phone.url) #{phone.title}
                    a.icon-link.icon-link--email(href=email.url) #{email.title}
                .footer__contact_links-centered 
                    .footer__contact_links-social
                        a.footer__contact_links-social-ref.instagram(href=instagramUrl)
                        a.footer__contact_links-social-ref.facebook(href=facebookUrl)
                    p.footer__contact_links-copywright &copy; Лабораторія маленьких геніїв 2015-2024. Усі права захищені
                .footer__contact_links-left        
                    .footer__contact_links__logo 
                        a(href="index.html") 
                            img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                    a.footer__contact_links-left--politic(href="#") Політика конфіденційності
    .popup_background
        .popup.milk-background
            .dialog-close