include form
mixin printFooter(hasLocation)
    footer.footer 
        if hasLocation
            .footer__location.milk-background.star.snow
                p.global__middle_text.footer__disclaimer Наш садочок забезпечений сучасним укриттям, додатковими джерелами електроенергії (на випадок відключення світла), котельня обладнана генератором для опалювального сезону.
                .footer__location_container.flex
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header наша локація
                        a(href=urlMap).footer__location_strong.marker вул. Вайсера, 4/2  
                        a(href=urlMap).global__link.footer__location_link подивитися мапу 
                            span.footer__location_arrow 
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header Графік роботи
                        strong.footer__location_strong Міні-садок:
                        span 8:00-13:00
                        br
                        strong.footer__location_strong Садок:
                        span 8:00-17:00
                        br
                        strong.footer__location_strong Садок повного дня:
                        span 8:00-19:00
                        br
                        strong.footer__location_strong Центр розвитку дітей:
                        span 16:30 - 19:30
        .footer__contact.milk-background
            .footer__contact_container.flex
                .footer__contact_links 
                    a.icon-link.icon-link--phone(href=phone.url) #{phone.title}
                    a.icon-link.icon-link--email(href=email.url) #{email.title}
                .footer__contact_links-centered 
                    .footer__contact_links-social
                        a.footer__contact_links-social-ref.instagram(href=instagramUrl)
                        a.footer__contact_links-social-ref.facebook(href=facebookUrl)
                    p.footer__contact_links-copywright &copy; Лабораторія маленьких геніїв 2015-2024. Усі права захищені
                .footer__contact_links-left        
                    .footer__contact_links__logo 
                        a(href="index.html") 
                            img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                    a.footer__contact_links-left--politic(href="#")#politic Політика конфіденційності
    .popup_background
        .popup
            .popup-dialog-close 
            +printform(true)
            .popup_nav.global-nav
                .global__circle_btn.arr-left
                .global-dot.global-dot--active
                .global-dot 
                .global-dot  
                .global-dot  
                .global__circle_btn.arr-right 
            .politic.milk-background 
                h2 Політика конфіденційності
                h3 Збір та Використання Інформації:
                h4 1.1 Персональна Інформація:
                p Ми можемо збирати особисту інформацію, таку як ім'я, адреса, номер телефону, адреса електронної пошти та інші дані, якщо ви надаєте цю інформацію під час оформлення замовлення чи реєстрації на нашому веб-сайті.
                h4 1.2 Використання інформації
                p Ми використовуємо надану інформацію для обробки замовлень, забезпечення обслуговування клієнтів, надсилання сповіщень про статус замовлення та іншої інформації щодо ваших покупок.
                p Захист Інформації:
                h4 1.3 Безпека данних
                p Ми можемо збирати особисту інформацію, таку як ім'я, адреса, номер телефону, адреса електронної пошти та інші дані, якщо ви надаєте цю інформацію під час оформлення замовлення чи реєстрації на нашому веб-сайті.
                h4 1.4 Конфіденційність Транзакцій:
                p Всі транзакції обробляються через безпечні системи оплати для забезпечення конфіденційності вашої фінансової інформації.
                p Доступ до виправлення
                h4 1.5 Доступ до Інформації:
                p Ви маєте право звертатися до нас для отримання інформації про те, які дані ми збираємо та як вони використовуються.
                h4 1.6 Виправлення Даних:
                p Ви можете звертатися до нас для виправлення невірної чи неповної інформації про вас.
                h4 Контактна інформація:
                p Якщо у вас є будь-які питання або зауваження щодо нашої політики конфіденційності, будь ласка, звертайтеся до нас за допомогою нашої контактної інформації, наведеної на веб-сайті. Ми дякуємо за довіру та обираємо Вас як наших клієнтів. Ваша конфіденційність важлива для нас, і ми робимо все можливе, щоб забезпечити захист вашої інформації.          
