mixin printListsWithImage(arr, nameClass)
    - let index = 0
    for list in arr
        - let leftContainer = "" 
        - let leftClass = "" 
        if index++ % 2 == 1
            - leftContainer = " left-container"
            - leftClass = " left-list"

        div(class=("main__"+nameClass+"_box" +leftContainer)).flex
            if index % 2 == 1            
                img(src=list.image, alt=list.alt).left-img 
            div(class=("main__"+nameClass+"_text" + leftClass))
                ul(class=("main__"+nameClass+"_list"))
                    h3(class=("main__"+nameClass+"_list_header")).global__middle_text #{list.header}
                    for item in list.items
                        li(class=("main__"+nameClass+"_list_item")) #{item}
                    a(class=("main__"+nameClass+"__btn")).global__btn Записати дитину
            if index % 2 == 0            
                img(src=list.image, alt=list.alt).right-img 
            div(class=("main__"+nameClass+"_btn"))

//- mixin printPositive(content, image, nameClass) 
//-     div(class=("main__"+nameClass+"_container")).positive
//-     div(class=("main__"+nameClass+"_box")).positive.milk-background 
//-         #{content}
//-     img(class=("main__"+nameClass+"_image") src=image.src, alt=image.alt).positive.img