- let urlMap = "https://www.google.com/maps/place/%D0%9F%D1%80%D0%B8%D0%B2%D0%B0%D1%82%D0%BD%D0%B8%D0%B9+%D0%B4%D0%B8%D1%82%D1%8F%D1%87%D0%B8%D0%B9+%D1%81%D0%B0%D0%B4%D0%BE%D0%BA+%C2%AB%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%96%D1%8F+%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B8%D1%85+%D0%B3%D0%B5%D0%BD%D1%96%D1%97%D0%B2%C2%BB/@49.4278281,26.9782054,15z/data=!4m6!3m5!1s0x473206fba29f53d7:0x540112179640e9d9!8m2!3d49.4278281!4d26.9782054!16s%2Fg%2F11c3pwjkbl?entry=ttu&g_ep=EgoyMDI0MDkxNi4wIKXMDSoASAFQAw%3D%3D"
- let defaultUrlContact = "contact.html"
- let phone = {url:"tel:+380984562045", title:"+38 098 456 20 45"}
- let email = {url:"mailto:labmalgen@gmail.com", title:"labmalgen@gmail.com"}
- let facebookUrl = "https://www.facebook.com/geniusesclub15"
- let instagramUrl = "https://www.instagram.com/geniusesclub"

//- Print clouded blocks with medium image 
//- Міксин який допомагає розібрати массив з зображеннями - хмаринками 
mixin printListsWithImage(arr, nameClass, leftToRight,listParagraph,mixinUrl)
    - let index = 0
    if leftToRight
        - index = 1

    - let currentUrl = defaultUrlContact
    if mixinUrl
        - currentUrl = mixinUrl
        
    for list in arr
        - let leftContainer = "" 
        - let leftClass = "" 
        if index++ % 2 == 1
            - leftContainer = " left-container"
            - leftClass = " left-list"

        div(class=("main__"+nameClass+"_box img-block__box" +leftContainer)).flex
            if index % 2 == 1            
                img(src=list.image, alt=list.alt).left-img.img-block__image 
            div(class=("main__"+nameClass+"_text" + leftClass)).img-block__list
                div(class=("main__"+nameClass+"_list")).img-block__content
                    h3(class=("main__"+nameClass+"_list_header")).global__middle_text.img-block__list_header #{list.header}
                    
                    if list.items.length == 1
                        p(class=("main__"+nameClass+"_list_text"))  #{list.items[0]}
                    else
                        if !listParagraph 
                            ul
                                for item in list.items
                                    li(class=("main__"+nameClass+"_list_item")).img-block__list_item.marker-list #{item}
                        else
                            for item in list.items
                                p(class=("main__"+nameClass+"_list_text"))  #{item}
                    a(class=("main__"+nameClass+"__btn") href=currentUrl).global__btn.img-block__btn.popupRegister Записати дитину
            if index % 2 == 0            
                img(src=list.image, alt=list.alt).right-img.img-block__image  


- 
    let ages = [
    {
        img:"img/age/kids.svg",
        alt:"",
        text:"маленькі розумники"
    },
    {
        img:"img/age/baby.svg",
        alt:"",
        text:"маленькі дослідники"
    },
    {
        img:"img/age/juniors.svg",
        alt:"",
        text:"маленькі генії"
    },
    {
        img:"img/age/pre_school.svg",
        alt:"",
        text:"pre-school"
    }
    
    ];
mixin printAge(hasText)
    .main__age_container.flex 
        for item in ages 
            .main__age_item 
                img(src=item.img, alt=item.alt).main__age_image
                if hasText==true
                    h4.global__middle_text.main__age__header #{item.text}

    
//- mixin printPositive(content, image, nameClass) 
//-     div(class=("main__"+nameClass+"_container")).positive
//-     div(class=("main__"+nameClass+"_box")).positive.milk-background 
//-         #{content}
//-     img(class=("main__"+nameClass+"_image") src=image.src, alt=image.alt).positive.img
mixin printQuadro(content, nameClass, mixinUrl)
    - let currentUrl = defaultUrlContact
    if mixinUrl
        - currentUrl = mixinUrl

    div(class=("main__"+nameClass+"_container")).quadro

        img(class=("main__"+nameClass+"_image") src=content.img alt=content.alt).quadro-image
        div(class=("main__"+nameClass+"_box")).quadro-box 
            h3(class=("main__"+nameClass+"_header")).global__middle_text.quadro-header #{content.header}
            if content.items.length == 2
                div(class=("main__"+nameClass+"list-box")).quadro-list-box
                    for list in content.items 
                        ul(class=("main__"+nameClass+"_list")).quadro-list
                            for item in list
                                li(class=("main__"+nameClass+"_list-item")).quadro-list-item.marker-list #{item}
            else 
                div(class=("main__"+nameClass+"list-box")).quadro-list-box
                    ul(class=("main__"+nameClass+"_list")).quadro-list
                        for item in content.items
                            li(class=("main__"+nameClass+"_list-item")).quadro-list-item.marker-list #{item}          
            a(class=("main__"+nameClass+"__btn")  href=currentUrl).global__btn.img-block__btn Записати дитину

mixin printCardsWithFigure(allContent, nameClass, mixinUrl)
    - let currentUrl = defaultUrlContact
    if mixinUrl
        - currentUrl = mixinUrl
    
    div(class=("main__"+nameClass+"_container")).card-with-fig_container.flex
        for cardWithFig in allContent
            div(class=("main__"+nameClass+"_card "+cardWithFig.figure)).card-with-fig.milk-background
                div(class=("main__"+nameClass+"_sticker "+cardWithFig.color)).global__btn.global_smal-btn.card-with-fig_sticker #{cardWithFig.header}
                h3(class=("main__"+nameClass+"_header")).global__middle_text.card-with-fig_header #{cardWithFig.title}        
                if cardWithFig.list == false
                    for item in cardWithFig.content
                        p(class=("main__"+nameClass+"_text")).card-with-fig_text #{item}
                else 
                    ul(class=("main__"+nameClass+"_list")).card-with-fig_list
                        for item in cardWithFig.content
                            li(class=("main__"+nameClass+"_list-item")).card-with-fig_list-item #{item}     
                if cardWithFig.textMore
                    p(class=("main__"+nameClass+"_text")).card-with-fig_text #{cardWithFig.textMore}    
                a(class=("main__"+nameClass+"__btn")  href=currentUrl).global__btn.card-with-fig__btn Записати дитину

mixin setPrice(text)
    .price_strip_container 
        .price_strip.milk-background
            .price_strip-text.global__middle_text
                span Ціна 
                strong - #{text}