html(lang="en")
    head
        include components/head 
    body    
        include components/mixins 
        include components/photo 
                    
        include components/form 
        include components/header 
        +printHeader(false, true)
        main 
            .main__contact
                h1.global__huge_text.main__contact_header контакти
                .main__contact_container
                    .main__contact_map-links 
                        
                        .main__contact_links_container
                            .main__contact_links
                                .global__middle_text.main__contact_subheader наші контакти:
                                a.icon-link.icon-link--phone(href=phone.url) #{phone.title}
                                a.icon-link.icon-link--email(href=email.url) #{email.title}
                                a(href=urlMap target="_blank").marker вул. Вайсера, 4/2  
                            .main__contact_social
                                .global__middle_text.main__contact_subheader ми у соцмережах:
                                a(href=instagramUrl target="_blank").icon-link.icon-link--instagram @geniusesclub
                                a(href=facebookUrl target="_blank").icon-link.icon-link--facebook geniusesclub15

                        .main__contact_map_container
                            .global__middle_text.main__contact_subheader Ми на карті:
                            .main__contact_map_overflow 
                                <iframe src="https://www.google.com/maps/d/embed?mid=1zLu6QZSLDri56PGGtX81R7HKPLOHVXw&ehbc=2E312F" width="640" height="400"></iframe>

                    .main__contact_form_container
                        .global__middle_text.main__contact_subheader Заповніть просту анкету для запису на заняття

                        +printform()                       


        include components/footer 
        +printFooter(false)

        script(src="js/scripts.js") 
